cp-pesquisa{
    h1 {
        color: #00A998;
        padding: 0;
    }
    button{
        border: none;
        background: #49aa98;
        padding: 8px 24px;
        color: #FFF;
        border-radius: 3px;
        cursor: pointer;
    }
}